<form class="form-search">
    <div class="input-append">
        
    </div>
    
</form>

<table class="table table-striped table-condensed table-hover" ng-show="showProducts">
    <thead>
        <th sorted="Todo">ProductName</th>
        <th sorted="Priority">ProductPrice</th>
        
        <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
    </thead>
    <tbody>
        <tr ng-repeat="item in items" id="item_{{item.ProductId}}">
            <td>{{item.ProductName}}</td>
            <td>{{item.ProductPrice}}</td>
            <td><a ng-click="showQuantity()" ng-show="showBuy">Buy</a>
                <div id="confirmation" ng-show="!showBuy">
                <input type="number" min="1" max="100"  name="Qty" ng-model="item.quantity" required ng-pattern="/^[0-9]{1,7}$/"/>
                    

                <a ng-click="addOrder(item)" >Add</a>
                    </div>

            </td>
            <td>
                {{item.quantity*item.ProductPrice}} 
            </td>
            <td>
                <a href="#/edit/{{item.ProductId}}"><i class="icon-edit"></i></a>
                <a ng-click="deleteOrder()"><i class="icon-remove"></i></a>
            </td>
        </tr>
        <tr ><a ng-click="placeOrder()" >Confirm order</a></tr>
    </tbody>
</table>

 
